@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Berkshire+Swash&family=Dancing+Script:wght@700&family=Fondamento:ital@0;1&family=Inconsolata:wght@900&family=Lateef&family=Major+Mono+Display&family=Marck+Script&family=Merienda:wght@400;700&family=Montserrat:wght@200;400&family=Niconne&family=Nova+Mono&family=Oswald:wght@300;700&family=Xanh+Mono:ital@0;1&family=Yanone+Kaffeesatz:wght@400;700&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;700&family=Pacifico&family=Roboto:wght@100;300;400;500;700;900&family=Satisfy&family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Grand+Hotel&family=La+Belle+Aurore&family=Marck+Script&family=Merienda:wght@400;700&family=Neucha&family=Norican&family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


@font-face {
  font-family: 'archiaregular';
  src: url('~assets/fonts/Archia/archia-regular-webfont.eot');
  src: url('~assets/fonts/Archia/archia-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Archia/archia-regular-webfont.woff2') format('woff2'),
       url('~assets/fonts/Archia/archia-regular-webfont.woff') format('woff'),
       url('~assets/fonts/Archia/archia-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'argesta_displayregular';
  src: url('~assets/fonts/Argesta/argestadisplay-regular-webfont.eot');
  src: url('~assets/fonts/Argesta/argestadisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Argesta/argestadisplay-regular-webfont.woff2') format('woff2'),
       url('~assets/fonts/Argesta/argestadisplay-regular-webfont.woff') format('woff'),
       url('~assets/fonts/Argesta/argestadisplay-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bariolregular';
  src: url('~assets/fonts/Bariol/bariol_regular-webfont.eot');
  src: url('~assets/fonts/Bariol/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Bariol/bariol_regular-webfont.woff2') format('woff2'),
       url('~assets/fonts/Bariol/bariol_regular-webfont.woff') format('woff'),
       url('~assets/fonts/Bariol/bariol_regular-webfont.ttf') format('truetype'),
       url('~assets/fonts/Bariol/bariol_regular-webfont.svg#bariolregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bariolitalic';
  src: url('~assets/fonts/Bariol/bariol_regular_italic-webfont.eot');
  src: url('~assets/fonts/Bariol/bariol_regular_italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Bariol/bariol_regular_italic-webfont.woff2') format('woff2'),
       url('~assets/fonts/Bariol/bariol_regular_italic-webfont.woff') format('woff'),
       url('~assets/fonts/Bariol/bariol_regular_italic-webfont.ttf') format('truetype'),
       url('~assets/fonts/Bariol/bariol_regular_italic-webfont.svg#bariolitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bariol_serifregular';
  src: url('~assets/fonts/Bariol-Serif/bariol_serif_regular-webfont.eot');
  src: url('~assets/fonts/Bariol-Serif/bariol_serif_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Bariol-Serif/bariol_serif_regular-webfont.woff2') format('woff2'),
       url('~assets/fonts/Bariol-Serif/bariol_serif_regular-webfont.woff') format('woff'),
       url('~assets/fonts/Bariol-Serif/bariol_serif_regular-webfont.ttf') format('truetype'),
       url('~assets/fonts/Bariol-Serif/bariol_serif_regular-webfont.svg#bariol_serifregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bariol_serifitalic';
  src: url('~assets/fonts/Bariol-Serif/bariol_serif_regular_italic-webfont.eot');
  src: url('~assets/fonts/Bariol-Serif/bariol_serif_regular_italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Bariol-Serif/bariol_serif_regular_italic-webfont.woff2') format('woff2'),
       url('~assets/fonts/Bariol-Serif/bariol_serif_regular_italic-webfont.woff') format('woff'),
       url('~assets/fonts/Bariol-Serif/bariol_serif_regular_italic-webfont.ttf') format('truetype'),
       url('~assets/fonts/Bariol-Serif/bariol_serif_regular_italic-webfont.svg#bariol_serifitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'basier_squareregular';
  src: url('~assets/fonts/Basier/basiersquare-regular-webfont.eot');
  src: url('~assets/fonts/Basier/basiersquare-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Basier/basiersquare-regular-webfont.woff2') format('woff2'),
       url('~assets/fonts/Basier/basiersquare-regular-webfont.woff') format('woff'),
       url('~assets/fonts/Basier/basiersquare-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'basier_circleregular';
  src: url('~assets/fonts/Basier/basiercircle-regular-webfont.eot');
  src: url('~assets/fonts/Basier/basiercircle-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Basier/basiercircle-regular-webfont.woff2') format('woff2'),
       url('~assets/fonts/Basier/basiercircle-regular-webfont.woff') format('woff'),
       url('~assets/fonts/Basier/basiercircle-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'basier_square_monoregular';
  src: url('~assets/fonts/Basier-Mono/basiersquaremono-regular-webfont.eot');
  src: url('~assets/fonts/Basier-Mono/basiersquaremono-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Basier-Mono/basiersquaremono-regular-webfont.woff2') format('woff2'),
       url('~assets/fonts/Basier-Mono/basiersquaremono-regular-webfont.woff') format('woff'),
       url('~assets/fonts/Basier-Mono/basiersquaremono-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bouldregular_italic';
  src: url('~assets/fonts/Bould/bould-regularitalic-webfont.eot');
  src: url('~assets/fonts/Bould/bould-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Bould/bould-regularitalic-webfont.woff2') format('woff2'),
       url('~assets/fonts/Bould/bould-regularitalic-webfont.woff') format('woff'),
       url('~assets/fonts/Bould/bould-regularitalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bouldregular';
  src: url('~assets/fonts/Bould/bould-regular-webfont.eot');
  src: url('~assets/fonts/Bould/bould-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Bould/bould-regular-webfont.woff2') format('woff2'),
       url('~assets/fonts/Bould/bould-regular-webfont.woff') format('woff'),
       url('~assets/fonts/Bould/bould-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'calendas_plusregular';
  src: url('~assets/fonts/Calendas/calendas_plus-webfont.eot');
  src: url('~assets/fonts/Calendas/calendas_plus-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Calendas/calendas_plus-webfont.woff2') format('woff2'),
       url('~assets/fonts/Calendas/calendas_plus-webfont.woff') format('woff'),
       url('~assets/fonts/Calendas/calendas_plus-webfont.ttf') format('truetype'),
       url('~assets/fonts/Calendas/calendas_plus-webfont.svg#calendas_plusregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'cassannet_plusregular';
  src: url('~assets/fonts/Cassannet/cassannet_plus_regular-webfont.eot');
  src: url('~assets/fonts/Cassannet/cassannet_plus_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Cassannet/cassannet_plus_regular-webfont.woff2') format('woff2'),
       url('~assets/fonts/Cassannet/cassannet_plus_regular-webfont.woff') format('woff'),
       url('~assets/fonts/Cassannet/cassannet_plus_regular-webfont.ttf') format('truetype'),
       url('~assets/fonts/Cassannet/cassannet_plus_regular-webfont.svg#cassannet_plusregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'chaneyultra_extended';
  src: url('~assets/fonts/Chaney/chaney-ultraextended-webfont.eot');
  src: url('~assets/fonts/Chaney/chaney-ultraextended-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Chaney/chaney-ultraextended-webfont.woff2') format('woff2'),
       url('~assets/fonts/Chaney/chaney-ultraextended-webfont.woff') format('woff'),
       url('~assets/fonts/Chaney/chaney-ultraextended-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'geomanistregular';
  src: url('~assets/fonts/Geomanist/geomanist-regular-webfont.eot');
  src: url('~assets/fonts/Geomanist/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Geomanist/geomanist-regular-webfont.woff2') format('woff2'),
       url('~assets/fonts/Geomanist/geomanist-regular-webfont.woff') format('woff'),
       url('~assets/fonts/Geomanist/geomanist-regular-webfont.ttf') format('truetype'),
       url('~assets/fonts/Geomanist/geomanist-regular-webfont.svg#geomanistregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'geomanistitalic';
  src: url('~assets/fonts/Geomanist/geomanist-regular-italic-webfont.eot');
  src: url('~assets/fonts/Geomanist/geomanist-regular-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Geomanist/geomanist-regular-italic-webfont.woff2') format('woff2'),
       url('~assets/fonts/Geomanist/geomanist-regular-italic-webfont.woff') format('woff'),
       url('~assets/fonts/Geomanist/geomanist-regular-italic-webfont.ttf') format('truetype'),
       url('~assets/fonts/Geomanist/geomanist-regular-italic-webfont.svg#geomanistitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'knileitalic';
  src: url('~assets/fonts/Knile/knile-regularitalic-webfont.eot');
  src: url('~assets/fonts/Knile/knile-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Knile/knile-regularitalic-webfont.woff2') format('woff2'),
       url('~assets/fonts/Knile/knile-regularitalic-webfont.woff') format('woff'),
       url('~assets/fonts/Knile/knile-regularitalic-webfont.ttf') format('truetype'),
       url('~assets/fonts/Knile/knile-regularitalic-webfont.svg#knileitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'knileregular';
  src: url('~assets/fonts/Knile/knile-regular-webfont.eot');
  src: url('~assets/fonts/Knile/knile-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Knile/knile-regular-webfont.woff2') format('woff2'),
       url('~assets/fonts/Knile/knile-regular-webfont.woff') format('woff'),
       url('~assets/fonts/Knile/knile-regular-webfont.ttf') format('truetype'),
       url('~assets/fonts/Knile/knile-regular-webfont.svg#knileregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'nowayregular';
  src: url('~assets/fonts/Noway/noway-regular-webfont.eot');
  src: url('~assets/fonts/Noway/noway-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Noway/noway-regular-webfont.woff2') format('woff2'),
       url('~assets/fonts/Noway/noway-regular-webfont.woff') format('woff'),
       url('~assets/fonts/Noway/noway-regular-webfont.ttf') format('truetype'),
       url('~assets/fonts/Noway/noway-regular-webfont.svg#nowayregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'nowayitalic';
  src: url('~assets/fonts/Noway/noway_regular_italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  
}

@font-face {
  font-family: 'noway_roundregular';
  src: url('~assets/fonts/Noway-Round/nowayround-regular-webfont.eot');
  src: url('~assets/fonts/Noway-Round/nowayround-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Noway-Round/nowayround-regular-webfont.woff2') format('woff2'),
       url('~assets/fonts/Noway-Round/nowayround-regular-webfont.woff') format('woff'),
       url('~assets/fonts/Noway-Round/nowayround-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'noway_rounditalic';
  src: url('~assets/fonts/Noway-Round/nowayround-italic-webfont.eot');
  src: url('~assets/fonts/Noway-Round/nowayround-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Noway-Round/nowayround-italic-webfont.woff2') format('woff2'),
       url('~assets/fonts/Noway-Round/nowayround-italic-webfont.woff') format('woff'),
       url('~assets/fonts/Noway-Round/nowayround-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'salomeregular';
  src: url('~assets/fonts/Salome/salome-webfont.eot');
  src: url('~assets/fonts/Salome/salome-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Salome/salome-webfont.woff2') format('woff2'),
       url('~assets/fonts/Salome/salome-webfont.woff') format('woff'),
       url('~assets/fonts/Salome/salome-webfont.ttf') format('truetype'),
       url('~assets/fonts/Salome/salome-webfont.svg#salomeregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sawton_circularthin';
  src: url('~assets/fonts/Sawton/sawtoncircular-thin-webfont.eot');
  src: url('~assets/fonts/Sawton/sawtoncircular-thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Sawton/sawtoncircular-thin-webfont.woff2') format('woff2'),
       url('~assets/fonts/Sawton/sawtoncircular-thin-webfont.woff') format('woff'),
       url('~assets/fonts/Sawton/sawtoncircular-thin-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'silkaregular';
  src: url('~assets/fonts/Silka/silka-regular-webfont.eot');
  src: url('~assets/fonts/Silka/silka-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Silka/silka-regular-webfont.woff2') format('woff2'),
       url('~assets/fonts/Silka/silka-regular-webfont.woff') format('woff'),
       url('~assets/fonts/Silka/silka-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'silkaitalic';
  src: url('~assets/fonts/Silka/silka-regularitalic-webfont.eot');
  src: url('~assets/fonts/Silka/silka-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Silka/silka-regularitalic-webfont.woff2') format('woff2'),
       url('~assets/fonts/Silka/silka-regularitalic-webfont.woff') format('woff'),
       url('~assets/fonts/Silka/silka-regularitalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'silka_monoregular';
  src: url('~assets/fonts/Silka-Mono/silkamono-regular-webfont.eot');
  src: url('~assets/fonts/Silka-Mono/silkamono-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Silka-Mono/silkamono-regular-webfont.woff2') format('woff2'),
       url('~assets/fonts/Silka-Mono/silkamono-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'wotfardregular';
  src: url('~assets/fonts/Wotfard/wotfard-regular-webfont.eot');
  src: url('~assets/fonts/Wotfard/wotfard-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/Wotfard/wotfard-regular-webfont.woff2') format('woff2'),
       url('~assets/fonts/Wotfard/wotfard-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya';
  src: url('~assets/fonts/Alegreya/Alegreya-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('~assets/fonts/Alegreya/Alegreya-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Alegreya';
  src: url('~assets/fonts/Alegreya/Alegreya-Medium.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('~assets/fonts/Alegreya/Alegreya-MediumItalic.ttf') format('truetype');
  font-weight: medium;
  font-style: italic;
}
@font-face {
  font-family: 'Alegreya';
  src: url('~assets/fonts/Alegreya/Alegreya-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('~assets/fonts/Alegreya/Alegreya-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Alegreya';
  src: url('~assets/fonts/Alegreya/Alegreya-ExtraBold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('~assets/fonts/Alegreya/Alegreya-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: 'AlegreyaSC';
  src: url('~assets/fonts/Alegreya/AlegreyaSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AlegreyaSC';
  src: url('~assets/fonts/Alegreya/AlegreyaSC-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'AlegreyaSC';
  src: url('~assets/fonts/Alegreya/AlegreyaSC-Medium.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: 'AlegreyaSC';
  src: url('~assets/fonts/Alegreya/AlegreyaSC-MediumItalic.ttf') format('truetype');
  font-weight: medium;
  font-style: italic;
}
@font-face {
  font-family: 'AlegreyaSC';
  src: url('~assets/fonts/Alegreya/AlegreyaSC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'AlegreyaSC';
  src: url('~assets/fonts/Alegreya/AlegreyaSC-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'AlegreyaSC';
  src: url('~assets/fonts/Alegreya/AlegreyaSC-ExtraBold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'AlegreyaSC';
  src: url('~assets/fonts/Alegreya/AlegreyaSC-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: 'Bitter';
  src: url('~assets/fonts/Bitter/BitterPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter';
  src: url('~assets/fonts/Bitter/BitterPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Bitter';
  src: url('~assets/fonts/Bitter/BitterPro-ExtraLight.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter';
  src: url('~assets/fonts/Bitter/BitterPro-ExtraLightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: 'Bitter';
  src: url('~assets/fonts/Bitter/BitterPro-Thin.ttf') format('truetype');
  font-weight: thin;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter';
  src: url('~assets/fonts/Bitter/BitterPro-ThinItalic.ttf') format('truetype');
  font-weight: thin;
  font-style: italic;
}
@font-face {
  font-family: 'Bitter';
  src: url('~assets/fonts/Bitter/BitterPro-Medium.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter';
  src: url('~assets/fonts/Bitter/BitterPro-MediumItalic.ttf') format('truetype');
  font-weight: medium;
  font-style: italic;
}
@font-face {
  font-family: 'Bitter';
  src: url('~assets/fonts/Bitter/BitterPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter';
  src: url('~assets/fonts/Bitter/BitterPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Bitter';
  src: url('~assets/fonts/Bitter/BitterPro-ExtraBold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter';
  src: url('~assets/fonts/Bitter/BitterPro-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: 'Bitter';
  src: url('~assets/fonts/Bitter/BitterPro-SemiBold.ttf') format('truetype');
  font-weight: thick;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter';
  src: url('~assets/fonts/Bitter/BitterPro-SemiBoldItalic.ttf') format('truetype');
  font-weight: thick;
  font-style: italic;
}

